* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #313131;
}

/** header styles */

    /** all */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: auto;
    height: 10vh;
    padding: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #313131;
}

.logo {
    position: absolute;
    left: 0;
    width: 40%;
    height: 60%;
    text-align: end;
}

.logo__img {
    min-width: 60%;
    height: 100%;
}

.nav {
    position: absolute;
    right: 0;
    width: 60%;
    height: 60%;
    padding: 1.2rem;
    padding-top: 0.1px; /** solucion colapsado de margenes entre padre e hijo */
    text-align: left;
    opacity: 0.7;
}

.nav__list {
    list-style: none;
}

.nav__list1 {
    display: inline-block;
    margin: 0 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
}

.nav__list2 {
    text-decoration: none;
    color: #fff;
}

/** main styles */

    /** all */

.card {
    position: relative;
    width: 50%;
    height: 50vh;
    padding: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background: rgb(0,0,0);
    background: linear-gradient(355deg, rgba(0,0,0,1) 0%, rgba(124,131,253,1) 100%);
    border-radius: 1rem;
}

.card__text {
    position: absolute;
    left: 0;
    width: 50%;
    height: auto;
    padding: 1.2rem;
    padding-top: 0.1px;
    line-height: 1.5;
    color: #fff;
}

.card__title-h1 {
    height: auto;
    margin-top: 30%;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.15;
}

.card__title-h2 {
    height: auto;
    margin-top: 30%;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.15;
}

.card__p {
    height: auto;
    font-size: 1.5rem;
}

.card__img {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 1.2rem;
}

.card__img img{
    width: 100%;
    height: 90%;
    border-radius: 1rem;
}

    /** security */

.container {
    position: relative;
    width: 50%;
    padding: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

/** footer styles */

    /** all */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20vh;
    padding: 1.2rem;
    background-color: #313131;
}

.footer__text {
    position: absolute;
    bottom: 0;
    left: 28%;
    width: 40%;
    padding: 1.2rem;
    color: #fff;
}

.nav__text {
    margin-top: 6%;
    text-align: center;
    color: #fff;
}

/** modifiers */

    /** main */

.card--size {
    width: 80%;
    height: 40vh;
    background:none;
}

.card__text--size {
    width: 100%;
    height: 60%;
}

.card__title-h1--size {
    margin-top: 2%;
    font-size: 3.5rem;
    text-align: center;
}

.card__p--size {
    font-size: 1.5rem;
    text-align: center;
}

        /** security */

.card--security {
    width: 70%;
    height: 25vh;
}

.card__text--security {
    width: 100%;
}

.card__title-h2--security {
    margin: 0;
    height: auto;
}

        /** about */
.card__title-h1--about {
    margin-top: 2rem;
    height: auto;
}

    /** footer */

        /** all */

.logo--size {
    left: 2%;
}

.nav--footer {
    bottom: 0;
    height: 100%;
    text-align: center;
    opacity: 1;
}

.nav__list--footer {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

/** pseudoclases  */

    /** all */
.nav__list2:hover {
    color: #7C83FD;
    opacity: 1;
}