@use "utils";

/** main styles */

    /** all */

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    @include utils.space(1rem, 1.2rem);
    margin-left: auto;
    margin-right: auto;
    color: utils.$primary;
}

.tarjeta {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    grid-template-areas: "tarjeta__title"
                            "tarjeta__img"
                            "tarjeta__text";
    justify-content: center;
    align-items: center;
    @include utils.space(0.5rem, 1.2rem);
    background-image: linear-gradient(to right bottom, #1e1e1f, #27283b, #313258, #3a3c77, #464696, #4b49a5, #514cb5, #574fc4, #554cc7, #534ac9, #5047cc, #4e44ce);
    border-radius: 1rem;
}

.tarjeta__title {
    grid-area: tarjeta__title;
    align-self: flex-end;
    text-align: center;
}

.tarjeta__title-h1 {
    grid-area: tarjeta__title-h1;
    text-align: center;
}

.tarjeta__title-h2 {
    grid-area: tarjeta__title-h2;
}

.tarjeta__p {
    grid-area: tarjeta__p;
}

.tarjeta__text {
    grid-area: tarjeta__text;
    align-self: flex-start;
    text-align: left;
    line-height: 2rem;
    padding: 0 1.2rem;
}

.tarjeta__img {
    grid-area: tarjeta__img;
    padding: 1.2rem;
}

.tarjeta__imagen {
    width: 100%;
    border-radius: 1rem;
}

    /** security */

.tarjeta-security {
    grid-template-rows: 0.25fr auto;
    grid-template-areas: "tarjeta__title-h2"
                            "tarjeta__p";
}

/** modifiers */

    /** main */

        /** all */

.tarjeta--size {
    grid-column: 1 / -1;
    background-image: none;
}

        /** staking, nft */

.tarjeta--mini {
    grid-template-rows: auto auto;
    grid-template-areas: "tarjeta__title"
                            "tarjeta__text";
    background-image: none;
}

        /** security */

.tarjeta-security--title {
    grid-template-areas: "tarjeta__title-h1"
                            "tarjeta__p";
    background-image: none;
}