<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<!--* Encabezado pagina -->
    <header class="header">
        <div class="logo">
            <img src="../assets/img/Frame1.svg" alt="logo" class="logo__img">
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list1">
                    <a href="../index.html" class="nav__list2">Inicio</a>
                </li>
                <li class="nav__list1">
                    <a href="./staking.html" class="nav__list2">Staking</a>
                </li>
                <li class="nav__list1">
                    <a href="./nft.html" class="nav__list2">NFT</a>
                </li>
                <li class="nav__list1">
                    <a href="./security.html" class="nav__list2">Seguridad</a>
                </li>
                <li class="nav__list1">
                    <a href="./about.html" class="nav__list2">Nosotros</a>
                </li>
            </ul>
        </nav>
    </header>
<!--* Contenido principal -->
    <main>
        <section class="card">
                <article class="card__text">
                    <h1 class="card__title-h1 card__title-h1--about">Quienes Somos</h1>
                    <p class="card__p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ratione nesciunt exercitationem! Soluta quae facere similique voluptate ipsum, aspernatur laboriosam ipsam deserunt illo laudantium, nesciunt perferendis minima itaque cum eius.
                    </p>
                </article>
                <div class="card__img">
                    <img src="../assets/img/crypto4.svg" alt="Imagen">
                </div>
        </section>
    </main>
<!--* Pie de pagina -->
    <footer class="footer">
        <div class="logo logo--size">
            <img src="../assets/img/Frame1.svg" alt="Logo" class=" logo__img">
        </div>
        <div class="footer__text">
            <p>©Harmonyeth 2022</p>
        </div>
        <div class="nav nav--footer">
            <div class="nav__text">
                <h3>Siguenos en nuestras Redes Sociales</h3>
            </div>
            <ul class="nav__list nav__list--footer">
                <li class="nav__list1 nav__list1--footer">
                    <img src="https://img.icons8.com/material-rounded/30/000000/facebook.png" class="nav__list2 nav__list2--footer"/>
                </li>
                <li class="nav__list1">
                    <img src="https://img.icons8.com/material/30/000000/instagram-new--v1.png" class="nav__list2 nav__list2--footer"/>
                </li>
                <li class="nav__list1">
                    <img src="https://img.icons8.com/material/30/000000/twitter--v1.png" class="nav__list2 nav__list2--footer"/>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>