<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <section class="container">
    <!--* Encabezado pagina -->
        <header class="header">
            <div class="logo">
                <img src="../assets/img/logo.svg" alt="logo">
            </div>
            <nav class="nav">
                <ul class="menu">
                    <li class="menu__item">
                        <a href="../index.html" class="menu__link">Inicio</a>
                    </li>
                    <li class="menu__item">
                        <a href="./staking.html" class="menu__link">Staking</a>
                    </li>
                    <li class="menu__item">
                        <a href="./nft.html" class="menu__link">NFT</a>
                    </li>
                    <li class="menu__item">
                        <a href="./security.html" class="menu__link">Seguridad</a>
                    </li>
                    <li class="menu__item">
                        <a href="./about.html" class="menu__link">Nosotros</a>
                    </li>
                </ul>
            </nav>
        </header>
    <!--* Contenido principal -->
        <main class="main main--security">
            <section class="card  card-security card-security--title">
                    <h1 class="card__title-h1">
                        Mantén seguras tus criptomonedas
                    </h1>
                    <p class="card__p">

                    </p>
            </section>

            <section class="card card-security">
                    <h2 class="card__title-h2">
                        Quienes Somos
                    </h2>
                    <p class="card__p">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ratione nesciunt exercitationem! Soluta quae facere similique voluptate ipsum, aspernatur laboriosam ipsam deserunt illo laudantium, nesciunt perferendis minima itaque cum eius.
                    </p>
            </section>

            <section class="card card-security">
                    <h2 class="card__title-h2">
                        Quienes Somos
                    </h2>
                    <p class="card__p">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ratione nesciunt exercitationem! Soluta quae facere similique voluptate ipsum, aspernatur laboriosam ipsam deserunt illo laudantium, nesciunt perferendis minima itaque cum eius.
                    </p>
            </section>

            <section class="card card-security">
                    <h2 class="card__title-h2">
                        Quienes Somos
                    </h2>
                    <p class="card__p">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ratione nesciunt exercitationem! Soluta quae facere similique voluptate ipsum, aspernatur laboriosam ipsam deserunt illo laudantium, nesciunt perferendis minima itaque cum eius.
                    </p>
            </section>

            <section class="card card-security">
                    <h2 class="card__title-h2">
                        Quienes Somos
                    </h2>
                    <p class="card__p">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ratione nesciunt exercitationem! Soluta quae facere similique voluptate ipsum, aspernatur laboriosam ipsam deserunt illo laudantium, nesciunt perferendis minima itaque cum eius.
                    </p>
            </section>

            <section class="card card-security">
                    <h2 class="card__title-h2">
                        Quienes Somos
                    </h2>
                    <p class="card__p">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ratione nesciunt exercitationem! Soluta quae facere similique voluptate ipsum, aspernatur laboriosam ipsam deserunt illo laudantium, nesciunt perferendis minima itaque cum eius.
                    </p>
            </section>
        </main>
    <!--* Pie de pagina -->
        <footer class="footer">
            <div class="footer__logo">
                <img src="../assets/img/logo.svg" alt="Logo">
            </div>
            <div class="footer__text">
                <p>
                    ©Harmonyeth 2022
                </p>
            </div>
            <div class="footer__title">
                <h3>
                    Síguenos en nuestras Redes Sociales
                </h3>
            </div>
            <div class="footer__nav">
                <ul class="footer__menu">
                    <li class="footer__item">
                        <img src="https://img.icons8.com/material-rounded/30/000000/facebook.png" class="footer__img"/>
                    </li>
                    <li class="footer__item">
                        <img src="https://img.icons8.com/material/30/000000/instagram-new--v1.png" class="footer__img"/>
                    </li>
                    <li class="footer__item">
                        <img src="https://img.icons8.com/material/30/000000/twitter--v1.png" class="footer__img"/>
                    </li>
                </ul>
            </div>
        </footer>
    </section>
</body>
</html>